@charset "utf-8";
/* CSS Document */

.add {
	background-image:url(../img/add.ico)!important;
}
.delete {
	background-image:url(../img/delete.ico)!important;
}
.upload {
	background-image:url(../img/upload.ico)!important;
}
.save {
	background-image:url(../img/save.ico)!important;
}
.cancel {
	background-image:url(../img/cancel.ico)!important;
}
.search {
	background-image:url(../img/search.ico)!important;
}