<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:aop="http://www.springframework.org/schema/aop"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	
	<bean name="userService" class="com.cdkx.expertbasesystem.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao"/>
	</bean>
	<bean name="userDetailService" class="com.cdkx.expertbasesystem.service.impl.UserDetailServiceImpl">
		<property name="userDetailDao" ref="userDetailDao"/>
	</bean>
	<bean name="awardService" class="com.cdkx.expertbasesystem.service.impl.AwardServiceImpl">
		<property name="awardDao" ref="awardDao"/>
	</bean>
	<bean name="patentService" class="com.cdkx.expertbasesystem.service.impl.PatentServiceImpl">
		<property name="patentDao" ref="patentDao"/>
	</bean>
	<bean name="projectService" class="com.cdkx.expertbasesystem.service.impl.ProjectServiceImpl">
		<property name="projectDao" ref="projectDao"/>
	</bean>
	<bean name="thesisService" class="com.cdkx.expertbasesystem.service.impl.ThesisServiceImpl">
		<property name="thesisDao" ref="thesisDao"/>
	</bean>
	<bean name="subjectService" class="com.cdkx.expertbasesystem.service.impl.SubjectServiceImpl">
		<property name="subjectDao" ref="subjectDao"/>
	</bean>
	<bean name="degreeService" class="com.cdkx.expertbasesystem.service.impl.DegreeServiceImpl">
		<property name="degreeDao" ref="degreeDao"/>
	</bean>
	<bean name="institutionService" class="com.cdkx.expertbasesystem.service.impl.InstitutionServiceImpl">
		<property name="institutionDao" ref="institutionDao"/>
	</bean>
</beans>
